@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

@layer components {
    .btn-outline {
        @apply border border-purple-600 text-purple-600 rounded-lg px-4 py-2 transition duration-200;
    }

    .btn-outline:hover {
        @apply bg-purple-600 text-white;
    }

    .anonymous {
        transform: translate(-45%, 25%);
    }

    .user-profile-header {
        @apply transition duration-200;
    }

    .user-profile-header:hover {
        @apply scale-110;
    }

    #toolbar {
        @apply border-b-0 !important;
        @apply font-sans;
    }
}

.ql-editor::before {
    font-style: normal !important;
    @apply text-base;
    font-family: inherit;
}

.ql-editor {
    @apply text-base;
    font-family: inherit;
}

.user-search-input {
    padding-inline-start: 2rem;
}

.user-search-icon {
    transform: translateY(-50%);
}

.prose h2,
.ql-editor h2,
.prose h3,
.ql-editor h3,
.prose blockquote,
.ql-editor blockquote,
.prose ul,
.ql-editor ul,
.prose ol,
.ql-editor ol,
.prose pre,
.ql-editor pre .prose table,
.ql-editor table .prose figure,
.ql-editor figure {
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
}

.prose li,
.ql-editor li {
    margin-top: 0.125em !important;
    margin-bottom: 0.125em !important;
}

.prose thead th,
.ql-editor thead th .prose tbody td,
.ql-editor tbody td {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.prose blockquote p,
.ql-editor blockquote p {
    margin: 0 !important;
}

.prose img,
.ql-editor img {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.prose figure > * {
    margin: 0;
}

.prose p:empty,
.ql-editor p:empty {
    margin: 0;
}

.ql-code-block-container {
    @apply bg-gray-800 text-white py-1 px-2 rounded-sm;
}

.post-images {
    grid-template-columns: 70% 1fr;
}

.post-preview-text-white {
    text-shadow: 0 0 2px #000000cc, 0 0 8px #ffffff33;
}

.post-preview-text-black {
    text-shadow: 0 0 2px #ffffffcc;
}

.post-preview-no-media {
    @apply py-12 !important;
}

.phpdebugbar {
    visibility: hidden;
}

body {
    margin-bottom: 0 !important;
}